.App {
  height: 100%;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar Container Info */
.topnav {
  overflow: hidden;
  background-color: #333;
  min-height: 100px;
  z-index: 15;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.main-container{
  height: calc(100vh - 100px)
}

.dropdown-teams {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100000;
  margin-top: 100px;
  width: 1300px;
  flex-wrap: wrap;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-teams:hover .dropdown-content {
  display: flex;
}

/* .dropdown-teams .team-dropdown {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
} */


/*  */

.login-background {
  margin-top: -22px;
  background: url(https://media.giphy.com/media/xTiTndwQDH5ZUsfLSE/giphy.gif) no-repeat center center;
  background-size: cover;
}

.signup-font {
  font-size: 85px;
}

.user-signup {
  margin-top: -22px;
  background: url(https://media.giphy.com/media/26BRwfbI5gvaH5M9a/giphy.gif) no-repeat center center;
  background-size: cover;
} 

.profile {
  /* max-height: 200px; */
}

.profile-background{
  background-color: whitesmoke;
  /* max-height: 200px; */
}

.profile-user-image{
  height: 465px;
  width: 460px;
}

.padding-bookmarks{
  margin-left: 504px;
  /* width: 200px; */
}

.profile-news-image{
  height: 250px;
  width: 600px;
  /* padding-left: 50px; */
}

.profile-edit-button{
  z-index: 10;
}

.profile-row-bookmarks{
  width: 100px;
}


.home-image {
  height: 738px;
  width: 100%;
  padding-left: 30px;
}

.home-news-image {
  padding-left: 50px;
  height: 250px;
}

.home-news-paragraphs{
  font-size: 20px;
  text-align: center;
}

.home-page-bookmark {
  text-align: right;
}

.top-story-headline-home {
  float: center;
}

.spn-daily-news {
  text-align: center;
  font-size: 50px;
  color: black;
}

.spn-nba-news {
  text-align: center;
  font-size: 50px;
  color: black;
}

.daily-news-image{
  text-align: center;
}

.profile-user-card {
  position: fixed;
}

.nba-container-carousel {
  height: 750px;
  width: 900px;
  padding-left: 30px
}

.nba-page-carousel{
  height: 515px;
  padding-left: 30px
}

.nba-table {
  padding-left: 100px;
}

.nba-image {
  height:80px;
}

.nba-home-logo {
  height: 100px;
}

.home-page-color {
  margin-top: -21px;
  background-color: whitesmoke;
}

.nba-container {
  margin-top: -22px;
  background-color: whitesmoke;
}

.nba-team-logo-nba-container {
  height: 250px;
}

.nba-team-index{
  margin-top: -22px;
  background-color: whitesmoke;
}

.nba-player-index{
  margin-top: -22px;
  background-color: whitesmoke;
}

.nba-team-page{
  margin-top: -22px;
  background-color: whitesmoke;
}

/* .nba-carousel-item {
  width: 1095px;
} */

.my-carousel {
  background-color:white;
}

.about-background {
  margin-top: -22px;
  background: url("https://i.ytimg.com/vi/pB7P7OqCpqo/maxresdefault.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.about-user-image {
  height: 500px;
  width: 400px;
}

.edit-button {
  color: red;
}

#profile-button:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }

.video-container{
  margin-top: -22px;
  background-color: whitesmoke;
}

.grid-video-column-left{
  padding-left: 30px;
}

.loader-nba-page{
  color: white;
}

/* .footer{
  sticky-top
} */

/* .footer {
  padding-top: 100px;
} */

.ui.modal.transition.visible.active{
  /* display: flex !important; */
  /* height: 200px; */
  /* margin: auto !important; */
  margin-left: 18% ;
  margin-right: 50%;
  height: 50%;
  margin-top: 10%;
  margin-bottom: 25%;
  /* justify-content: flex-end !important; */
}