.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Nav Bar Container Info */
.topnav {
  overflow: hidden;
  background-color: #333;
  height: 100px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 40px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav-right {
  float: right;
}

.login-background {
  background: url(https://media.giphy.com/media/xTiTndwQDH5ZUsfLSE/giphy.gif) no-repeat center center;
  background-size: cover;
}

.signup-font {
  font-size: 85px;
}

.user-signup {
  background: url(https://media.giphy.com/media/26BRwfbI5gvaH5M9a/giphy.gif) no-repeat center center;
  background-size: cover;
} 

.profile-user-image{
  height: 465px;
  width: 460px;
}

.home-image {
  height: 600px;
  width: 100%;
  padding-left: 30px;
}

.home-news-image {
  padding-left: 50px;
  height: 250px;
}

.home-news-paragraphs{
  font-size: 20px;
  text-align: center;
}

.spn-daily-news {
  text-align: center;
}

.daily-news-image{
  text-align: center;
}

.profile-user-card {
  position: fixed;
}

.nba-container-carousel {
  height: 500px;
  width: 900px;
  padding-left: 30px
}

.nba-table {
  padding-left: 100px;
}

.nba-home-logo {
  height: 100px;
}

/* .nba-carousel-item {
  width: 1095px;
} */

.my-carousel {
  background-color:white;
}

.about-background {
  background: url("https://i.ytimg.com/vi/pB7P7OqCpqo/maxresdefault.jpg") no-repeat center center;
  background-size: cover;
  color: white;
}

.about-user-image {
  height: 500px;
  width: 400px;
}